* {
    box-sizing: content-box;
}

body {
    background-color: rgb(225, 19, 100);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    }

.contenedor_titulo {
    display: flex;
    height: 50px;
    width: auto;
    margin: 20px 60px;
    background-color: rgb(188, 16, 92);
    justify-content: center;
    align-items: center;
    border-left: 3px solid rgb(255, 255, 255) ;
    border-right: 3px solid rgb(255, 255, 255) ;
}

.contenedor_principal {
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 16, 92);
    margin: 20px 60px;
    padding: 15px;
    border-radius: 5px;
    gap: 15px;
}

.contenedor_juegos {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 251);
    padding: 15px;
    border-radius: 5px;
}

.titulo_juegos {
    color: rgb(156, 0, 54);
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 2px dotted rgb(156, 0, 54);    
}

.estilo_imagen {
    display: block;
    width: 100%;
    align-self: center;
    padding-top: 5px
}

.contenedor_juegos p {
    color: black;
    font-size: 12px;
}

h2{
    font-size: 16px;
}
