@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #49FCA0;
}


.estilo_imagen {
        width: 100%;
        height: auto;
        border-radius: 15px;
        margin-bottom: 1em;
        display: block; /
        margin-left: auto;
        margin-right: auto; 
        justify-content: center;
}
 
.contenedor_principal {
    font-family: "Pixelify Sans", serif;
    color: black;
    background-color:#28F7DE;
    display: flex;
    justify-content: center; 
    padding: 3em;
    margin: 2em;
    border-radius: 2em;
    box-shadow: 0 0 25px #431DC8;
    width: auto;
    height: 120%;
}

h2{
    margin-right: 2em;
    text-align: center;
}


.contenedor_juegos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #551BF9;
    border-style: double;
    border-color: black;
    border-bottom-right-radius: 2em;
    color: black;
    text-align: justify;
    width: 80%; 
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    line-height: 1.5em;
    box-shadow: 0 0 25px black;
}

.titulo_juegos {
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-bottom: 1em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #C9DEF7;
    padding: 1em;
    box-shadow: 0 0 25px black;
}

.contenedor_titulo {
    font-family: "Pixelify Sans", serif;
    font-size: 150%;
    color: #28F7DE;
    text-align: center;
    text-transform: uppercase;
    background-color:#551BF9;
    letter-spacing: 2em;
    border-style: double;
    border-color: black;
    padding: 2em;
    margin: 2em;
    border-radius: 2em;
    text-shadow: 5px 10px #431DC8;
}

.contenedor_footer {
    text-align: center;
    background-color:#551BF9;
    padding: 1em;
    margin: 2em;
    border-radius: 2em;
    border-style: double;
}


button {
    background-color: #00D5C1;
    border-radius: 2em;
    padding: 0.5em 1em;
    border: none;
    font-weight: bold;
    box-shadow: 20px 0 20px #431DC8;
    margin: 1em;
}

button:hover {
    background-color: #00F701;
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(36, 224, 11);
